<% @comments.each do |comment|  %>


  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0" style="color: #B00100"><%= comment.user.email %></h5>
      <h5 class="mt-0" style="color: #B00100"><%= time_ago_in_words(comment.created_at) %></h5>
      <p> <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""></p>
 <%= comment.body %>
    </div>
  </div>
  <hr>

<% end %>